# Dependencies
node_modules

# Build output
dist
dist-ssr
*.tsbuildinfo

# Logs & local env
logs
*.log
npm-debug.log*
.env
.env.local
.env.*.local

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SSR build output used only for prerendering
dist-ssr
